*{
    margin:0;
    padding:0;
}

#authenticationContainer{
    border:2px black solid;
    border-radius: 25px;
    width: 470px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    text-align: center;
}

#title{
    font-size: 37px;
    display: inline-block;
    margin-top:50px;
    font-family: "Inter";
}

form{
    position: relative;
    margin-top:72px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 346px;
    height: 55px;
    border:2px black solid;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
p{
    text-align: left;
    font-size: 20px;
}

#panel{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
    text-align: left;
}
#button{
    width: 112px;
    height: 42px;
    border-radius: 10px;
    border:2px black solid;
    background-color: #8FAFB4;
    font-size: 20px;
    display: inline-block;
}

#linkToRegistration{
    display: inline-block;
    margin-left: 50px;
}

#login{
    margin-bottom: 25px;
}


@media screen and (max-width: 1024px){
    #authenticationContainer{
        width: 415px;
        height: 459px;
    }
    
    form{
        width: 340px;
        margin-top: 55px;
    }
    
    input{
        width: 326px;
    }

    #panel{
        margin-top: 27px;
    }
}

@media screen and (max-width: 768px){
    #authenticationContainer{
        width: 369px;
        height: 410px;
    }
    #title{
        font-size: 30px;
    }
    p{
        font-size: 17px;
    }
    input{
        width: 286px;
        height: 50px;
        font-size: 17px;
    }
    #button{
        width: 112px;
        height: 34px;
        font-size: 18px;
    }

    form{
        margin-top: 40px;
        width: 300px;
    }
    #linkToRegistration{
        font-size: 15px;
    }
    #panel{
        margin-top:40px;
    }
}

@media screen and (max-width: 600px){
    #authenticationContainer{
        width: 317px;
        height: 349px;
    }

    #title{
        font-size: 25px;
    }

    input{
        width: 251px;
        height: 40px;
        font-size: 17px;
    }

    p{
        font-size: 14px;
    }

    #linkToRegistration{
        font-size: 14px;
    }

    form{
        width: 265px;
        margin-top:35px;
    }
    #button{
        width: 100px;
    }

    #panel{
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px){
    #authenticationContainer{
        width: 281px;
        height: 296px;
    }
    #title{
        font-size: 20px;
        margin-top:20px;
    }

    input{
        width: 206px;
        height: 34px;
    }
    p{
        font-size: 13px;
    }

    #button{
        width: 88px;
        height: 26px;
        font-size: 12px;
    }

    #linkToRegistration{
        font-size: 12px;
        margin-left: 12px;
    }

    form{
        width: 220px;
        margin-top:42px;
    }
}