<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
    <link rel="stylesheet" href="/css/headerStile.css">
    <link rel="stylesheet" href="/css/commonStyle.css">
    <link rel="stylesheet" href="/css/friendsListStyle.css">
    <script src="/js/friendsLoader.js"></script>
</head>
<body>
    <header>
        <div id="headerContent">
            <div id="searchingContainer">
                <input id="searchingField">
                <input id="searchingButton" type="image" src="/pictures/search.png">
            </div>

            <div id="navigationPanel">
                <input id="profileButton" type="image" src="/pictures/profile.png">
                <input id="menuButton" type="image" src="/pictures/menu.png">
            </div>
        </div>
    </header>

    <div id="bodyContent">
        <div id="content">

        </div>
    </div>
</body>
</html>