<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Friends</title>
    <link type="text/css" rel="stylesheet" href="/css/friends.css">
    <script src="/js/friends.js"></script>
    <script src="/js/commonLibraryJS.js"></script>
</head>
<body>
    <header>
        <div class="header_content">Demetra's</div>
    </header>

    <div class="main_content">
        <div class="user_searching_window">
            <input class="searching_field" placeholder="Найти друга...">
            <input class="searching_button" type="image" src="/pictures/Search.png">
        </div>
        <div class="result_searching_window">
        </div>
        <div id="main_user_container" class="user_container">
        </div>
        <div class="friends_container">
        </div>
        <div class="menu">
            <div id="profile_button" class="menu_button">Профиль</div>
            <div id="friend_button" class="menu_button">Друзья</div>
            <div id="messages_button" class="menu_button">Сообщения</div>
            <div id="news_button" class="menu_button">Новости</div>
            <div id="setting_button" class="menu_button">Настройки</div>
        </div>
    </div>
</body>
</html>