<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/landingStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,100;0,300;1,100&family=Tapestry&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="firstContainer">
        <p class="name">Astach</p>
        <p class="prescription">The place for your projects</p>
        <img class="tree" src="/pictures/tree.png">
    </div>

    <div class="secondContainer">

        <p class="text1">Keep your
            project on our
            resource
        </p>
        <div class="containerEye">
            <img src="/pictures/eye.png">
        </div>



        <p class="text2">
            We represent<br>
            -security<br>
            -flexibility<br>
            -clarity
        </p>
        <div class="containerSecurity">
            <img class="security" src="/pictures/security.png">
            <img class="flexibility" src="/pictures/flexibility.png">
        </div>



        <p class="text3">
            Your project may<br>
            be seen by many<br>investors
        </p>
        <div class="containerHands">
            <img class="hands" src="/pictures/hands.png">
        </div>

        <a class="LoginButton" href="/profile">Log In</a>
    </div>

</div>
</body>
</html>