<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="/css/loginStyle.css">
    <script type="text/javascript" src="/js/loginJs.js"></script>
</head>

<body>
<div class="authentication">
    <p class="name">Authentication</p>
    <form id="formL" method="post" action="/login" onload="func()">
        <p class="fieldName">Login</p>
        <input class="field" type="text" name="username">
        <p class="fieldName">Password</p>
        <input class="field" type="password" name="password">
        <input id="submit" type="submit" value="Log In">
        <a id="registration" href="/registration">Not registered yet?</a>
    </form>

</div>
</body>
</html>