<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="/css/loginStyle.css">
</head>

<body>
    <div id="authenticationContainer">
        <p id="title">Authentication</p>
        <form method="post" action="/login">
            <p>Login</p>
            <input id="login" type="text" name="username">
            <p>Password</p>
            <input type="password" name="password">
            <div id="panel">
                <input id="button" type="submit" value="Log In" onclick="{document.getElementById('button').style.backgroundColor='green'}">
                <a href="/registration" id="linkToRegistration">Not registered yet?</a>
            </div>
        </form>

    </div>
</body>
</html>