<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" href="css/login.css" rel="stylesheet">
    <link type="text/css" href="css/commonLoginAndRegistration.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <script src="js/loginPageJS.js"></script>
    <script src="js/loginAndRegistrationPageJS.js"></script>
    <script src="js/commonLibraryJS.js"></script>

</head>
<body>
<div id="loginContainer">
    <p id="title">Authentication</p>
    <form id="loginForm" method="post" action="/login">
        <div class="field">
            <input id="loginField" class="input" name="username" placeholder="Email" >
            <div class="hint" title="Введите почту">?</div>
        </div>
        <div class="field">
            <input id="passwordField" class="input" name="password" type="password" placeholder="Password*">
            <div class="hint" title="Введите пароль">?</div>
        </div>
        <input id="submitButton" type="submit" value="Sign in">
    </form>
    <div id="decoration">
        <div class="line"></div>
        or
        <div class="line"></div>
    </div>
    <div id="externalAuthenticationPanel">
        <input type="image" src="pictures/VK.png">
        <input type="image" src="pictures/Google.png">
    </div>
    <a href="/registration">Sign up</a>
</div>
</body>
</html>