<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Messages</title>
    <link rel="stylesheet" href="/css/messages.css">
    <script src="/js/messages.js"></script>
    <script src="/js/commonLibraryJS.js"></script>
</head>
<body>
    <header>
        <div class="header_content">
            Demetra's
        </div>
    </header>

    <div class="main_content">
        <div class="user_container">
        </div>

        <div class="messages_container">
        </div>

        <div id="menu">
            <div id="profile_button" class="menu_button">Профиль</div>
            <div id="friend_button" class="menu_button">Друзья</div>
            <div id="messages_button" class="menu_button">Сообщения</div>
            <div id="news_button" class="menu_button">Новости</div>
            <div id="setting_button" class="menu_button">Настройки</div>
        </div>
    </div>
</body>
</html>