<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title></title>
    <link rel="stylesheet" href="/css/headerStile.css">
    <link rel="stylesheet" href="/css/commonStyle.css">
    <link rel="stylesheet" href="/css/friendsListStyle.css">
    <link rel="stylesheet" href="/css/messagerStyle.css">
    <script src="/js/friendsLoader.js"></script>
    <script src="/js/messagerPageLoader.js"></script>
</head>
<body>
  <header>
    <div id="headerContent">
      <div id="searchingContainer">
        <input id="searchingField">
        <input id="searchingButton" type="image" src="/pictures/search.png">
      </div>

      <div id="navigationPanel">
        <input id="profileButton" type="image" src="/pictures/profile.png">
        <input id="menuButton" type="image" src="/pictures/menu.png">
      </div>
    </div>
  </header>

  <div id="bodyContent">
    <div id="content">


      <div id="messageContainer">

      </div>

      <form id="messageWritingPanel">
          <input id="attach" type="image" src="/pictures/attach.png">
          <input id="messageInput" type="text">
          <input id="send" type="image" src="/pictures/paperPlane.png">
      </form>
    </div>
  </div>
</body>
</html>