<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=display-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/profileStyle.css">
</head>
<body>
    <header>
        <div class="headerContent">
            <div class="searching">
                <input class="fieldForSearching">
                <input type="image" id="searchButton" src="../static/pictures/search.png"/>
            </div>
            <div id="controlPanel">
                <input id="profileButton" type="image" src="../static/pictures/profile.png" class="buttonOfControlPanel"/>
                <input id="menuButton" type="image" src="../static/pictures/menu.png" class="buttonOfControlPanel"/>
            </div>
        </div>
    </header>
    <div id="main">
        <div id="containerOfContent">
            <div id="content">
                <article id="userInformation">
                    <img src="../static/pictures/avatars/myAvatar.jpg">
                    <script>//здесь будет код возвращающий Аватарку пользователя</script>
                    <div id="decoration"></div>
                </article>
                <div id="friends">
                    <p class="title">Friends online</p>

                </div>

                <div id="projects">
                    <p class="title">Projects</p>

                </div>

                <div id="bookmarks">

                </div>
            </div>



        </div>
    </div>
</body>
</html>