<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=display-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Registration</title>
    <link  rel="stylesheet" type="text/css" href="/css/registrationStyle.css">
</head>
<body>
    <div id="registrationContainer">
      <div id="containerOfContent">
          <p id="title">Registration</p>
          <form method="post" action="/registration">
              <p>Name*</p>
              <input class="registrationField" name="name">

              <p>Lastname*</p>
              <input class="registrationField" name="lastname">

              <p>Login*</p>
              <input class="registrationField" name="email">

              <p>Password*</p>
              <input class="registrationField" name="password">

              <p>Repeat password*</p>
              <input id="rtPassword" class="registrationField">

              <p>GitHub</p>
              <input class="registrationField" name="git">

              <p>Country</p>
              <input class="registrationField" name="country">

              <div id="panel">
                  <input id="submitButton"type="submit" value="Register">
                  <a href="/login">You have an account</a>
              </div>
          </form>
      </div>
    </div>
</body>
</html>